.main__content {
  width: 100%;
  min-height: 400px;
  max-height: fit-content;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 80px;
  background: url('../img/white-background.jpg') center/cover no-repeat;
}
.main__content__description {
  width: 240px;
  min-height: 320px;
  max-height: fit-content;
  margin: 15px;
  padding: 0;
  flex-shrink: 1;
}
.main__content__logo {
  width: 360px;
  min-height: 260px;
  max-height: fit-content;
  height: 240px;
  border-radius: 50%;
  margin-top: 10px;
  flex-shrink: 1;
}
.main__content__logo_element1 {
  background: url('../img/html-320x240.jpg') center/cover no-repeat;
}
.main__content__logo_element2 {
  background: url('../img/css-320x240.jpg') center/cover no-repeat;
}
