* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Koulen', cursive;
}
.info {
  margin: 0;
  width: 100%;
  min-height: 700px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: url('../img/blue-background.jpg') center/cover;
}
.info__block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.info__title {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 30px;
  margin: 0;
  text-align: center;
  text-shadow: 4px 3px 4px pink;
}
.info__title h2 {
  margin: 0;
}
.info__block__content_summary {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 25px;
  text-shadow: 4px 3px 4px rgb(16, 16, 54);
}
.btn > a {
  text-decoration: none;
}
.btn {
  border-radius: 4px;
  border: none;
  background-color: #3775dd;
  cursor: pointer;
  box-shadow: 0 2px #21487f;
  font-family: 'Oleo Script Swash Caps', cursive;
}
.btn:hover {
  background-color: var(--background-color-btn);
}
.btn:active {
  color: var(--color-red);
}
.info__photo {
  width: 100%;
  min-height: 600px;
  max-height: fit-content;
}
.info__photo__container {
  width: 100%;
  min-height: 400px;
  max-height: fit-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 15px;
}
.info__photo__container__photo {
  width: 360px;
  height: 240px;
  max-height: fit-content;
  border-radius: 10px;
  margin: 10px;
}
.info__photo__container__photo_number1 {
  background: url('../img/html1.jpg') center/cover no-repeat;
}
.info__photo__container__photo_number2 {
  background: url('../img/html2.jpg') center/cover no-repeat;
}
.info__photo__container__photo_number3 {
  background: url('../img/html3.jpg') center/cover no-repeat;
}
.info__photo__container__photo_number4 {
  background: url('../img/html4.jpg') center/cover no-repeat;
}
.info__photo__container__photo_number5 {
  background: url('../img/html5.jpg') center/cover no-repeat;
}
.input-type {
  width: 200px;
  border: 2px solid rgb(73, 72, 138);
  border-radius: 5px;
  outline: 0;
}
.input__box {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(27, 25, 176, 0.48);
}
.input-color:focus {
  color: var(--color-red);
}
